<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>City Weather</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body ng-app="CityWeather" ng-controller="CityWeatherCtrl">
    <header class="header">
        City Weather
    </header> 

    <section class="view">


            <div class="loader" ng-show="loader"></div>
            <a class="back animated rollIn" ng-hide="!panel" ng-click="panel=false"><span class="icon-arrow-left"></span></a>

            <section class="panel panel-padding" ng-hide="panel">

                <p>Welcome on my weather application!</p>
                
                <p ng-show="error" class="error">Not found!</p>

                <form ng-submit="search()">
                    <p>
                        <input type="text" class="text" placeholder="Search city" ng-model="city">
                    </p>

                    <p>
                        <input type="submit" class="submit" value="Search" />
                    </p>
                </form>
            </section>



            <section class="panel" ng-hide="!panel">

                <div class="row-title">
                    {{weather.city.name}}/{{weather.city.country}}
                </div>


                <div class="row" ng-class="{row_active: $index==0}" ng-repeat="day in weather.list" ng-click="expand($event)">
                    <div class="temperature">{{Math.round(day.temp.day)}} °C</div>
                    <div class="date">
                        <strong>{{day.dt*1000 | date:'EEE'}}</strong>
                        {{day.dt*1000 | date:'dd/MM'}}
                    </div>
                    <span class="icon-{{day.weather[0].main.toLowerCase()}}"></span>
                </div>
            </section>
    </section>

    <script src="cordova.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-local.js"></script>
    <script src="js/app.js"></script>
</body>
</html>