body {
    background-color: #3264A8;
    font-family: Sans-Serif;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    color: #FFF;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    background-color: #11a7ab;
}

.view {
    position:absolute;
    top: 60px;
    left: 0;
    right: 0;
}